doctype html
html 
    head 
        title= `Update Vehicle info`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
h1 Update Vehicle Object Table
a(href='/') Go Back

form(action=`/update-cobj/${data.hs_object_id}`, method="post" style="margin:20px") 
    label(for="regstration-number") Vehicle registration number 
    input(type="text" name="regstration_number" id="regstration-number" value=`${data.regstration_number}` required placeholder="ABC-1234")
    br
    label(for="type") Vehicle Type
    select(name="type" id="type" required) 
        option(selected= data.type=='' value="") Select Vehicle Type
        option(selected= data.type=='Car' value="Car") Car
        option(selected= data.type=='Van' value="Van") Van
        option(selected= data.type=='Motor Cycles' value="Motor Cycles") Motor Cycles
        option(selected= data.type=='Lorry' value="Lorry") Lorry
    br
    br
    label(for="features") features
    label(for="features-1" style="display:inline") A/C 
    input(type="checkbox", name="features" checked= data.features.includes('A/C') value="A/C" ,id="features-1" style="display:inline;margin-right:15px") 
    
    label(for="features-2" style="display:inline") Drive Assistance 
    input(type="checkbox", name="features" checked= data.features.includes('Drive Assistance') value="Drive Assistance" ,id="features-2" style="display:inline;margin-right:15px") 

    label(for="features-3" style="display:inline") NOS 
    input(type="checkbox", name="features" checked= data.features.includes('NOS') value="NOS" ,id="features-3" style="display:inline;margin-right:15px") 

    label(for="features-4" style="display:inline") ABS 
    input(type="checkbox", name="features" checked= data.features.includes('ABS') value="ABS" ,id="features-4" style="display:inline;margin-right:15px") 

    br
    br
    input(type="submit", value="Save")